<div style="width: 90%;">
 <form name="category_form" ng-controller="createCategoryController">
  <div class="panel panel-default">
	<div class="panel-heading" style="height: 50px;" align="center">
		<h4 style="color: white;">Create Category</h4>
	</div>
	<div class="panel-body" align="left">
	 <br>
		<div class="row">
		   <div class="control-group">
				<div class="col-md-2"></div>
				<div class="col-md-2">
					<label class="lbl"> 
					<i class="glyphicon icon-comment"></i>&nbsp;&nbsp;Category Name<b class="mandatory">*</b>
					</label>
				</div>
				<div class="col-md-3">
					<input type="text" ng-model="category.categoryName" class="form-control" placeholder="Category Name" style="width: 100%" 
					 required data-errormessage-value-missing="Add some text">
				</div>
			</div>
	    </div>
	<div class="row">
	  <div class="control-group">
		<div class="col-md-2"></div>
		<div class="col-md-2">
			<label class="lbl"> 
			 <i class="glyphicon icon-comment"></i>&nbsp;&nbsp;Description<b class="mandatory">*</b>
			</label>
		</div>
		<div class="col-md-3">
			<textarea cols="50" rows="5" ng-model="category.description" class="form-control" placeholder="Category  Description"
			 style="height: 100px; width: 100%" required data-errormessage-value-missing="Add some text"></textarea>
		</div>
	</div>
  </div>
  
  
  
	<br>
	 <div align="center">
		<button class="btn btn-info active" type="submit" ng-disabled="category_form.$invalid" ng-click="submit()">
			<span class="glyphicon glyphicon-ok-circle"></span> Save
		</button>
		<button class="btn btn-info active">
			<span class="glyphicon glyphicon-remove"></span> Cancel
		</button>
	 </div>
 	</div>
 	</div>
 </form>
 </div>
 