<div style="width: 50%;">
 <form name="registration_form">
  <div class="panel panel-default" style="overflow:scroll;height:300px;">
	<div class="panel-heading" style="height: 50px;" align="center">
		<h4 style="color: white;">Registration</h4>
	</div>
	<div class="panel-body" align="left">
   <!--  <div class="form-group">
      <input type="radio" value="None" id="radioOne" name="account" checked/> <label for="radioOne" class="radio" chec>Personal</label>
      <input type="radio" value="None" id="radioTwo" name="account" /><label for="radioTwo" class="radio">Company</label>
    </div> -->
    <div class="row">
		   <div class="control-group">
				<div class="col-md-1" >
					<input type="radio" value="None" id="radioOne" name="account" checked/>
				</div>
				<div class="col-md-4">
					<label for="radioOne" style ="margin-top: 1px;" class="radio" checked>Personal</label>
				</div>
				<div class="col-md-1">
					<input type="radio" value="None" id="radioTwo" name="account" />
				</div>
				<div class="col-md-4">
					<label for="radioTwo" style ="margin-top: 1px;" class="radio">Company</label>
				</div>
			</div>
	    </div>
    	<div class="row">
		   <div class="control-group">
				<div class="col-md-1">
					<label id="icon" for="name"> 
					<i class="icon-envelope"></i><b class="mandatory"></b>
					</label>
				</div>
				<div class="col-md-10">
					<input type="text" ng-model="email" class="form-control" placeholder="Email" style="width: 100%" 
					 required data-errormessage-value-missing="Add some text">
				</div>
			</div>
	    </div>
	    <div class="row">
		   <div class="control-group">
				<div class="col-md-1">
					<label id="icon" for="name"> 
					<i class="icon-user"></i><b class="mandatory"></b>
					</label>
				</div>
				<div class="col-md-10">
					<input type="text" ng-model="userName" class="form-control" placeholder="UserName" style="width: 100%" 
					 required data-errormessage-value-missing="Add some text">
				</div>
			</div>
	    </div>
	    <div class="row">
		   <div class="control-group">
				<div class="col-md-1">
					<label id="icon" for="name"> 
					<i class="icon-shield"></i><b class="mandatory"></b>
					</label>
				</div>
				<div class="col-md-10">
					<input type="password" ng-model="password" class="form-control" placeholder="password" style="width: 100%" 
					 required data-errormessage-value-missing="Add some text">
				</div>
			</div>
	    </div>
   <div class="row">
		   <div class="control-group">
				<div class="col-md-8">
					<p>By clicking Register, you are agree on our <a href="#">terms and condition</a>.</p>
				</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<button class="btn btn-info active" type="submit" ng-disabled="registration_form.$invalid" ng-click="submit()">
					<i class="glyphicon glyphicon-ok-circle"></i>Register
				</button>
			</div>
	    </div>
</div>
</div>
</form>
</div>