	<div class="nav-side-menu">
	<div class="brand">WELCOME ${name}</div>
	<i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse"
		data-target="#menu-content"></i>
	<div class="menu-list">
		<ul id="menu-content" class="menu-content collapse out">
			<li  ui-sref="main.usersList">
				<i class="glyphicon glyphicon-user"></i>&nbsp; Users
			</li>
			<li ui-sref ="main.createCategory">
			    <i class="glyphicon glyphicon-th-list"></i>&nbsp; Category
			</li>
			<li  ui-sref="main.addFood">
			<i class="glyphicon glyphicon-glass"></i>&nbsp; Food
			</li>
			<li ui-sref="main.addTransportation">
			<i class="glyphicon glyphicon-plane"></i>&nbsp; Transportation
			</li>
			<li ui-sref="main.addMiscellaneous">
			<i class="glyphicon glyphicon-film"></i>&nbsp; Miscellaneous
			</li>
		</ul>
	</div>
		<div class="brand">Reports Menu</div>
	<i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse"
		data-target="#menu-content"></i>
	<div class="menu-list">
		<ul id="menu-content" class="menu-content collapse out">
			<li ui-sref="main.report">
				<i class="glyphicon glyphicon-file"></i>&nbsp; Report
			</li>
		</ul>
   </div>
</div>