<div ng-controller="viewFoodController">

	<!-- ----------------------------------alert Message--------------------------------------------------------- -->
	<div ng-class=" cls" ng-show="message" align="center"
		style="width: 850px; position: relative; left: -60; height: 50">
		<h5 style="margin-top: 2px;">{{message}}</h5>
	</div>
	<!-- ----------------------------------alert Message--------------------------------------------------------- -->
	<accordion close-others=false> <accordion-group
		is-open="status.isFirstOpen"> <accordion-heading>
	<font style="color: white" align="center"> Food Details<i
		class="pull-right glyphicon" ng-class="{}"></i></font> </accordion-heading>



	<br>
	<div class="row" align="left">
		<div class="control-group">
			<div class="col-md-1"></div>
			<div class="col-md-2">
				<label class="lbl" for="experience"><i
					class="glyphicon glyphicon-time"></i>&nbsp;&nbsp;Experience*:</label>
			</div>
			<div class="col-md-3">
				<div class="col-md-6">MIN:
					<div ng-if="approvedStatus">
						{{ position.minExpYear}}
					</div>
					<div ng-if="draftStatus">
						<a href="#" editable-select="position.minExpYear"
							e-ng-options="o as o for o in info.expYears" e-required> {{
							position.minExpYear}} </a>
					</div>
				</div>
				<div class="col-md-6">MAX:
				    <div ng-if="approvedStatus">
						{{ position.maxExpYear}}
					</div>
					<div ng-if="draftStatus">
						<a href="#" editable-select="position.maxExpYear"
							e-ng-options="o as o for o in info.expYears" e-required> {{
							position.maxExpYear}} </a>
					</div>

				</div>
			</div>
		</div>

	</div>

	
		
	</div>




	<br>

	
	
	</accordion-group> </accordion>
<div align="center">

	<div class="row" align="right">
		<div class="control-group">
			<div class="col-md-4"></div>
			<div class="col-md-2">
				<div ng-show = "enableUpdate"> 
			<a class="btn btn-info active" ng-click="updatePositionDetails()"> <span class="glyphicon glyphicon-ok"></span> Update</a>
			</div>
			</div>
		</div>
		<div class="control-group">
			<!-- <div class="col-md-1"></div> -->
			<div class="col-md-1">
				
			<a ui-sref="recruitment.searchPosition"
		class="btn btn-info active"> <span
		class="glyphicon glyphicon-remove"></span> Cancel
	</a>
			
			</div>
		</div>
		
		
		</div>

    
</div>
</div>
<br>
<br>
<br>
</div>
